
*{margin:0  0 ;padding:0  0 ;}
*{
  --in-content-selected-text: #fff;
}
body{


}
 .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
  background: #f5f5f5;
}
.clearefix{
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}

/*--globoal style*/

.userwork {
  float: right;
  padding-top: 7px;
}
.logo {
  float: left;
}

.userwork a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0 15px;
  background-color: #dda285;;
  line-height: 40px;
  font-family: sans-serif;
  border-radius: 5px;
  transition: all .25s;
}
.userwork a:hover{
  background:tomato;
  color: white;
}

    /*Menu style */

.menucontuner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
  background: #f5f5f5;
  margin-top: 10px;
}
    .menu {
      border-radius: 3px;
      width: 100%;
      display: inline-block;
      background: #dda285;
      margin: auto;
    }
    .menu li {
      float: left;
      list-style: none;
      position: relative;
    }
.menu li .sub-menu{
  position: absolute;
  top: 0;
  left: 0;

}
.menu li a {
  color: black;
  display: inline-block;
  padding: 0 15px;
  line-height: 40px;
  text-decoration: none;
  border-radius: 5px;
  transition: all .5s;
}
.menu li a:hover{
  background:tomato;
  color: white;
}
                /*menu style end*/



                /*Banner style start*/
.banner{
  max-width: 1168px;
  margin: 0 auto;
  padding: 15px;
  background: #f5f5f5;
 margin-top: 10px;
}

.banner .item{
  position: relative;
  overflow: hidden;
}
.banner .item-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  background: #00000078;
  margin: 0;
  padding: 15px;
  color: white;
  opacity: 0;
  transition: all .25s;
}
.banner .item:hover .item-title{
  bottom: 5px;
  opacity: 1;
}

                  /*banner style end*/




                       /*Footer style start*/
  footer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
    background: #f5f5f5;
  margin-top: 10px;
  }
  .copyright {
      border-radius: 3px;
      background:  #dda285;
      float: center;
      padding: 15px;
  }
  .copyright a{
    text-decoration: none;
  }

.copyright p {
  text-align: center;
  font-family: message-box;
}
.copyright span {
  color: crimson;
}
                              /*footer style end*/
